#body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f2f2f2;
}

#boardgame {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background: rgba(235, 41, 11, 0.301); 
    background-repeat: no-repeat;
    height: 100vh;
    background-size: contain;
    background-position: center;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

#tank {
    /* background-color: tomato; */
    position: absolute;
    transform: scaleX(-1);
}


.bullet {
    width: 10px;
    height: 3px;
    background-color: rgb(231, 5, 243);
    position: absolute;
    border-color: rgb(36, 2, 253);
    border-style: ridge;
    /* background-image: null; */
}

.projectile {
    background-color: rgb(231, 5, 243);
    position: relative;
    border-color: rgb(36, 2, 253);
    border-style: ridge;
}

.obstacle{
    background-color: rgb(21, 217, 235);
    position: absolute;

}

/* .explosion {
    background-image: url("./images/superbullet.svg");
    width: 40px;
    height: 40px;
    position: absolute;
} */

#GAME-OVER {
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-image: 0  px;
    text-align: center;
    background-color: rgb(95, 93, 96);
    border-top: none;
    border-right: none;
    border-bottom: none;
    border-left: none;
}

.image-container{
    width:300px;
    height:auto;
}

#score {
    text-align: center;
    text-decoration: solid;
}


#button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}